name: Build C-OPS Hack

on:
  push:
    branches: [ master, main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install Theos
        run: |
          git clone --recursive https://github.com/theos/theos.git $HOME/theos
          echo "THEOS=$HOME/theos" >> $GITHUB_ENV

      - name: Fix SDK (Temizlik ve Yukleme)
        run: |
          # 1. O bozuk 26.2 klasorunu sil
          rm -rf $HOME/theos/sdks
          mkdir -p $HOME/theos/sdks
          
          # 2. Saglam olan 14.5 surumunu indir
          curl -L -o sdk.tar.xz https://github.com/theos/sdks/releases/download/14.5/iPhoneOS14.5.sdk.tar.xz
          tar -xf sdk.tar.xz -C $HOME/theos/sdks
          rm sdk.tar.xz

      - name: Build .dylib (Final)
        run: |
          cd template
          # 3. Hatalari gormezden gelerek derle
          make package FINALPACKAGE=1 TARGET=iphone:clang:14.5:13.0 ARCHS="arm64" _THEOS_TARGET_CFLAGS="-fno-modules -Wno-everything"

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: CriticalOpsHack
          path: template/packages/*.deb
